* {
  font-family: sans-serif;
  line-height: 1.4;
}

article {
  border: 5px solid black;
}

h2,
h3,
.btn-add,
article p:nth-child(4) {
  text-transform: uppercase;
}

h2 {
  text-align: center;
  background-color: rgba(236, 236, 229, 0.678);
}

h3 {
  font-size: 16px;
}

article p:nth-child(4) {
  color: rgb(100, 100, 100);
  font-weight: bold;
  font-size: 12px;
}

#price {
  font-size: 24px;
}

.details {
  list-style: square;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  text-decoration: none black;
}

.btn-add {
  background-color: black;
  color: white;
  font-size: 18px;
  border-style: none;
}

.btn-add:hover {
  background-color: #fff;
  color: #000;
}
