body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 4px solid black;
}

.product-name {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
}

#price {
  font-size: 24px;
}

.shipping {
  color: rgb(100, 100, 100);
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none black;
}

.details-heading {
  font-size: 16px;
  text-transform: uppercase;
}

.details {
  list-style: square;
}

.btn-add {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  border-style: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #fff;
  color: #000;
}
